<!--Hello, <%#= @user.email %>-->
<!--===============================================-->

<!--You have requested to reset your password.-->

<!--To choose a new password, just follow this link: <%#= @url %>.-->

<!--Have a great day!-->

<!DOCTYPE html>
<html lang="ja">
<!--<head>-->
<!--  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />-->
<!--</head>-->
<body>
<p><%= @user.email %>様、パスワードリセットのお知らせ</p>
<p>
  パスワードのリセットをするには、<%= @url %>をクリックしてください。
</p>
</body>
</html>