/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

body {
    background-color: #F0F0F0;
}
.title-header {
    background-color: #14592F;
    color: white;
    /*font-size: 26px;*/
    /*height: 40px;*/
}
.title {
    padding: 4px 0px;
}
.menu {
    display: flex;
    margin: 0px;
    list-style: none;
}
.menu li {
    margin: 8px;
}
.text-none-decorated, .text-none-decorated:hover {
    color: white;
    text-decoration: none;
}
#contents {
    font-size: 18px;
}
.nav-button {
    color: white;
    border: none;
    background-color: transparent;
}
.main-section {
    background-color: white;
}
.data-grid {
    border: 1px solid #ddd;
}
.data-grid .col {
    border: 1px solid #ddd;
}
.data-grid:last-child {
    border-top: none;
}
/* テーブル幅 */
.table {
    table-layout: fixed;
}
.table thead th:first-child {
    width: 60px;
}
.table thead th:nth-child(2) {
    width: 30%;
}
.table thead th:nth-child(3) {
    width: 40%;
}
.table thead th:last-child {
    width: 160px;
}
.table thead th:nth-last-child(2) {
    width: 220px;
}
/* テーブル明細部 */
.table tbody th:first-child {
    text-align: right;
}
.table tbody th, .table tbody td {
    word-break: break-all;
}
